:root {
--primary-text-color:#757575;
--primary-black-color: #212121;
--logo-black-color:#000;
--accent-color:#2196F3;
--primary-white-color:#FFFFFF;
--footer-contacts-text-color: rgba(255, 255, 255, 0.6);
--background-color-hero:#2F303A;
--background-color-second; #E5E5E5;

/* Fonts */
--main-font-family:'Roboto', sans-serif;
--logo-font-family:'Raleway', sans-serif;
}

 body {
    font-family: var(--main-font-family);
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
 }
.header {
    background-color: var(--primary-white-color);
    font-family: var(--main-font-family);
    padding-top: 24px;
    padding-bottom: 25px;
}
.header > .container {
display: flex;
align-items: center;

}
.logo {
color: var(--logo-black-color);
font-family: var(--logo-font-family);
text-decoration: none;
font-weight: 700;
font-size: 26px;
line-height: 1.19;


}
.web-span {
color: var(--accent-color);
}
.nav-list {
    font-family: inherit;
    color: var(--primary-black-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    gap: 50px;
    margin-right: 331px;
    margin-left: 93px;
    
}
.nav-item {
    color: var(--primary-black-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* .nav-item:first-child {
    margin-left: 93px;
   } */
/* .nav-item + .nav-item {
    margin-left: 50px;
} */

.header-contacts {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    gap: 50px;
    margin-left: 331px;
}
.footer-contacts {
display: flex;
}
   
.current {
    text-decoration: none;
    color: var(--accent-color);
}

 
 .list {
     list-style: none;
     padding-left: 0;
     margin-top: 0;
     margin-bottom: 0;
 }

 .hero {
    background-color: var(--background-color-hero);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
 }
 .footer {
    background-color: var(--background-color-hero);
}

.hero-h { 
    color: var(--primary-white-color);
    font-family: var(--main-font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}
 .hero-button {
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    cursor: pointer;
    font-family: inherit;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    }
.button 
margin: 0 auto;
}

/* Семантично скрыто */
.visually-hidden {
    position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}

.Specialities .our-job {
 background-color:var(--background-color-second);
}

.special-header {
    color: var(--primary-black-color);
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.sect-header {
    color: var(--primary-black-color);
    text-align: center;
}
.the-team {
background-color: #F5F4FA;
}
.name-header {
    color: var(--primary-black-color);
font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-p {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}

footer {
    background-color: var(--background-color-hero);
}

.logo-white {
  color: #FFFFFF; 
font-family: var(--logo-font-family);
text-decoration: none;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.placement {
color: var(--primary-white-color);
font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-contacts {
    color: var(--footer-contacts-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}

 .link {
   text-decoration: none;
    color: inherit;
    font-style: normal;
 }

 .container {
    width: 1617px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid tomato ;
 }